---
 const personalImageAlt = "Javier Navarro"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Hola soy Javier!!
      Aunque mi trayectoria profesional comenzó en otros sectores, (veinte años de experiencia me avalan), <strong
        >ha sido en la programación donde he encontrado mi verdadera pasión.</strong
      >.
    </p>

    <p>
      Esta experiencia me ha permitido desarrollar habilidades clave como  <strong
        >la responsabilidad, la disciplina y el trabajo en equipo</strong
      >.  que ahora aplico en mi carrera como programador.
    </p>

    <p>
      Me considero desarrollador "full-stack", con un enfoque fuerte en PHP, 
      lenguaje que me ha acompañado desde mis inicios. Intento estar siempre al día con las últimas tendencias y novedades para estar alineado con las demandas del mercado.
    </p>
  </div>

  <img width="200" height="200" src="/portafolio/assets/projects/javier.PNG" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>
