---
 const personalImageAlt = "Javier Navarro"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      ¡Hola, soy Javier!
      Aunque mi trayectoria profesional comenzó en otros sectores, (veinte años de experiencia me avalan), <strong> 
        ha sido en la programación donde he encontrado mi verdadera pasión.</strong
      >.
    </p>

    <p>
      Durante más de cinco años trabajé como ilustrador y tatuador, una etapa que no solo me enseñó a valorar los detalles y la estética, sino que también fortaleció mi capacidad para escuchar y entender las ideas de los demás.  <strong
        >Esta experiencia me ha permitido desarrollar habilidades clave como la responsabilidad, la disciplina y la empatía que ahora aplico en mi carrera como programador.</strong
      >.
    </p>

    <p>
      Me gusta entender cómo las piezas de un proyecto encajan entre sí para crear algo funcional y significativo. Disfruto enfrentándome a nuevos desafíos que me permitan seguir creciendo tanto a nivel técnico como personal, buscando siempre soluciones que sean efectivas y creativas.
    <strong> Valoro especialmente el trabajo en equipo, donde cada persona puede aportar lo mejor de sí misma y aprender unos de otros.</strong>
    </p>
  </div>

  <img width="200" height="200" src="/portafolio/javier.PNG" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>
