---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "Septiembre 2024 - Diciembre 2024",
    title: "Prácticas en Desarrollo Web",
    company: "BRGI",
    description:
      "Durante mis prácticas en BRGI, participé activamente en el desarrollo y mantenimiento de dos sistemas CRM a gran escala, donde mi principal responsabilidad fue asegurar la estabilidad y el correcto funcionamiento del producto, resolviendo incidencias críticas en entornos de producción. Además, colaboré en la implementación de nuevas funcionalidades, mejorando continuamente la calidad del software. Tecnologías utilizadas:PHP, Symfony, Twig, Svelte, HTML, CSS, JavaScript, MySQL, XAMPP, Git, GitHub, VS Code, JIRA, Confluence.",
  },
  {
    date: "Agosto 2024 - Septiembre 2024",
    title: "Desarrollo Web Freelance",
    company: "Regalos Nicolás y Ana",
    description:
      "Desarrollé un sistema TPV intuitivo y fácil de usar para un pequeño comercio, que optimiza la gestión de ventas y el seguimiento de inventarios. Este sistema permite a los empleados realizar transacciones de manera rápida y precisa, mejorando la eficiencia en el proceso de ventas. Para ello, utilicé tecnologías como HTML, CSS, JavaScript, PHP y MySQL, asegurando una experiencia fluida tanto en el frontend como en el backend.",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
