---
import LinkedInIcon from "./icons/LinkedIn.astro"
import MailIcon from "./icons/Mail.astro"
import SocialPill from "./SocialPill.astro"
---

<footer id="contacto" class="max-w-xl mx-auto text-center mb-8">
  <div class="flex flex-wrap justify-center gap-4 mt-8">
    <SocialPill href="https://linkedin.com/in/javier-navarro-robles-9561aa208">
      <LinkedInIcon class="size-4" />
      LinkedIn
    </SocialPill>
    <SocialPill href="mailto:jnavarro.artist@gmail.com">
      <MailIcon class="size-4" />
      Contáctame
    </SocialPill>
  </div>
</footer>
